.back-layer{
    background-color: #7C00B6;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
}

.exclaim {
    color: white;
    height: 2rem;
    padding: 15px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.donation {
    background-color: #D9D9D9;
    height: 75%;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 50px 50px 0 0;
    animation: slideInFromLeft 0.5s ease-out forwards;
}

.purple-text {
    color: #7C00B6;
}

.profile-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto -100px auto;
    position: relative;
    top: -100px;
    background-color: #D9D9D9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-image {
    width: 175px;
    max-height: 175px;
    border-radius: 50%;
}

.payment-buttons {
    padding: 0 20px;
}

.payment-buttons button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apple-pay-button {
    background-color: black;
    color: white;
}

.google-pay-button {
    background-color: white;
    color: black;
}

.paypal-button {
    background-color: #ffc439;
    color: black;
}
